@model Shahajjokori.Models.Donation
@{ var id = ViewContext.RouteData.Values["id"];
   var title = ViewBag.e_title; }
   
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 3%; text-align:center">
            <h2>Thank you for your donation &#10084;</h2>
        </div>
    </div>

</div>

    <div class="container" style="text-align:left">
        <div class="row">
            <div class="col-md-6" style="margin-top: 3%; margin-bottom: 5%;">
                <img src="~/images/donated_pic.jfif" alt="logo" style="display: block; height: auto; max-width: 100%;">
            </div>
            <div class="col-md-6" style="margin-top:3%; margin-bottom: 5%;">
                <form asp-action="Donation_entry" method="post">
                    <div class="form-group">

                        <input class="form-control" value="@id" asp-for="d_id" type="hidden">
                    </div>
                    <div class="form-group">

                        <input class="form-control" value="@title" asp-for="d_title" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input class="form-control" aria-describedby="emailHelp" placeholder="Enter your name here" asp-for="d_name">
                        <small>It's okay if you don't want to reveal your name. Leave the field empty to be the "Anonymous" donor</small>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Amount<span style="color:red;">*</span></label>
                        <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter the amount you donated" asp-for="d_amount" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Transaction ID</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter the transaction id here" asp-for="d_tid">
                        <small>This will help the fundraiser to identify your transaction</small>
                    </div>

                    <button type="submit" onclick="myFunction()" class="btn btn-primary" href="@Url.Action("Donation_entry","Home")" style="margin-top:5%">Done</button>
                    <script>
                        function myFunction() {
                            
                            alert("Thank you for your coopertaion");
                        }
                    </script>
                </form>
            </div>

        </div>

    </div>