@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ // var test = Context.GetRouteData().Values["id"];
    Layout = "_Layout"; }
@model List<Local_Event>

<div class="container" style="text-align: center; margin-bottom:10%;">
    <div class="row" style="margin-top: 5%; margin-bottom: 3%;">
        <div class="col-md-12" style="text-align: center;">
            <h2 style="text-decoration: underline;text-decoration-color: cadetblue;">Local Events</h2>
        </div>
    </div>
    <div class="row">
        @if (Model.Count == 0)
        {
            <h5>Sorry, currently no local event is available &#128549;</h5>}
        @foreach (var e in Model)
        {
    <div class="col-md-4">
        <a asp-controller="Home" asp-action="Event_Local_Details" asp-route-id="@e.le_id" style="text-decoration:none;color:black;">
            <div class="card" style="margin-top: 5%;">
                @{ string path = "~/images/" + e.le_pic; }
                <img class="card-img-top" src="@path" alt="logo" style="        display: block;
        height: 15vw;
        max-width: 100%;
        object-fit: cover;
" asp-append-version="true">

                <div class="card-body">
                    <h4 class="card-title">@e.le_title</h4>
                    <p>@e.le_location</p>

                </div>
            </div>
        </a>
    </div>}
    </div>
</div>

