
@{
    ViewData["Title"] = "SignUp_Fundraiser_entry";
}

<div style="text-align: center; margin-top:10%;">
    <h1>Congratulations!</h1>
    <h1>Your Signing Up with Shahajjokori</h1>
    <h1>is Successfull</h1>
</div>
<div style="text-align: center; margin-top: 5%;margin-bottom:15%;">
    <a asp-area="" asp-controller="Home" asp-action="SignIn">Sign in</a> to go to your panel or explore our <a asp-area="" asp-controller="Home" asp-action="Index">site</a>
</div>

