@{ ViewData["Title"] = "Sign In Admin"; }
@model Shahajjokori.Models.Admin
<div style="text-align: center;">
    <h1>@ViewData["Title"]</h1>
    Are you fundraiser/donor? Then <a asp-area="" asp-controller="Home" asp-action="Signin">sign in</a> here
</div>

<div class="container" style="margin-top: 5%; margin-bottom:5%;">
    <div class="row">
        <div class="col-md-6 login-section-wrapper">
            <div class="login-wrapper my-auto">
                <form asp-action="Signin_Admin_Panel" method="post">
                    <p style="color:red">@ViewBag.error_message</p>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter your email" asp-for="admin_email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter your passsword" asp-for="admin_password">
                    </div>
                    <button type="submit" class="btn btn-primary" href="@Url.Action("Signin_Admin_Panel","Home")" style="margin-top:5%">Sign in</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="~/images/log-in.jpg" alt="logo" class="logo">
        </div>
    </div>
</div>


