@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background: #FDF5E6;">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="" style=" background:#FDF5E6;margin-bottom:5%; white-space: pre-wrap;">
                <h1>Terms & Conditions - Fundraiser</h1>
                <p style="font-size:larger">@ViewBag.terms</p>
            </div>
            <div class="col-md-6" id="" style=" background:#FDF5E6; margin-top:15%; margin-bottom:5%;">
                <img class="d-block w-100" src="~/images/Sign-up-Fundraiser.jpg" alt="Who are we">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6" id="" style=" margin-top:10%;">
            <img class="d-block w-100" src="~/images/sign-up-donor.jpg" alt="Who are we">
        </div>
        <div class="col-md-6" id="donor" style="margin-bottom:10%; margin-top:5%; white-space: pre-wrap;">
            <h1>Terms & Conditions - Donor</h1>
            <p style="font-size:larger">@ViewBag.trems_don</p>
        </div>
    </div>
</div>
