@{
}
<div style="background: #FDF5E6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="whoarewe" style=" background:#FDF5E6; padding-top:5%;">
                <h1>Who Are We</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" id="whoarewe" style=" background:#FDF5E6;margin-bottom:10%; white-space: pre-wrap;">
                <p style="font-size:larger">@ViewBag.whoarewe</p>
            </div>
            <div class="col-md-6" id="whoarewe" style=" background:#FDF5E6; margin-top:5%; padding-bottom:5%;">
                <img class="d-block w-100" src="~/images/whoarewe-pic.jpg" alt="Who are we">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" id="howwework" style="margin-bottom:10%; white-space: pre-wrap;">
            <h1>How Shahajjokori Works</h1>
            <p style="font-size:larger">@ViewBag.howWeWork</p>
        </div>
    </div>
</div>
<div style="background: #FDF5E6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="helpus" style="margin-bottom:10%; white-space: pre-wrap;">
                <h1>Would You Like to Help Us?!</h1>
                <p style="font-size:larger">@ViewBag.helpus@ViewBag.contact</p>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="developers" style="margin-bottom:10%; padding-top:5%;">
            <h1>Behind Shahajjokori</h1>
            <div id="flip"><p style="font-size:larger; margin-top:5%;">Developers have worked hard behind Shahajjokori to make it a feasible online platform as it stands today. Further development for the future will continue. If you have any suggestions you can reach them anytime!</p></div>
            <div class="container" style="margin-top:5%;">
                <div class="row">
                    <div class="col-md-4" style="text-align:center">
                        <img class="rounded-circle" src="~/images/abrar-pic.jpg"
                             data-holder-rendered="true" style="object-fit:cover;">
                        <p style="font-size:x-large; margin-top:5%;">Abrar Rafid Noor</p>
                        <p>Email: 170204059@aust.edu</p>
                    </div>
                    <div class="col-md-4" style="text-align:center">
                        <img class="rounded-circle" src="~/images/farhan-pic.jpg"
                             data-holder-rendered="true" style="object-fit:cover;">
                        <p style="font-size:x-large; margin-top:5%;">Farhan Sharukh Hasan</p>
                        <p>Email: 170204066@aust.edu</p>
                    </div>
                    <div class="col-md-4" style="text-align:center">
                        <img class="rounded-circle" src="~/images/rafsan-pic-2.jpg"
                             data-holder-rendered="true" style="object-fit:cover;">
                        <p style="font-size:x-large; margin-top:5%;">Rafsan Habib Rasan</p>
                        <p>Email: 170204069@aust.edu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
